beautifulsoup4==4.12.3
bs4==0.0.2
animec==0.4.2
py-cord==2.6.0
colorama
python-dotenv
googletrans
pillow
pyfiglet
qrcode
pyzbar
responses
tqdm
deep_translator
prettytable
tortoise-orm 
aiosqlite
progress
windows-curses
npyscreen
youtube-dl